  <table class="table table-borderless table-dark m-0 w-100">
    <thead>
      <tr>
        <th scope="col">Set</th>
        <th scope="col">Reps</th>
        <th scope="col">Weight</th>
        <th scope="col">Difficulty</th>
      </tr>
    </thead>
  </table>
