<div class="row">
  <table class="table table-bordered table-dark d-flex">
    <thead>
      <tr>
        <th scope="col">Set</th>
        <th scope="col">Reps</th>
        <th scope="col">Weight</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
  </table>
</div>
