<% unique_exercises.each do |exercise| %>
  <i class="fas fa-dumbbell" style="font-size: 11px; color: gray;"></i>
  <%= exercise.name.capitalize %>
  <div class="d-flex">
    <% workout.workout_sets.each do |workout_set| %>
    
      <% if exercise.id == workout_set.exercise_id %>
        <div class="p-1" style="display: inline-grid !important;">
          <div class="badge badge-light" style="border-radius: 20px 20px 0px 0px;">
            <%=workout_set.nb_of_reps%>
          </div>
          <div class="badge badge-light" style="border-radius: 50px; font-size: 5px; background-color: white; position: relative; top: -4px;">
            <%= "#{workout_set.weight}kg" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
