<div class="card card-body">
  <div class="card-header border-top">
    <div class="row justify-content-between">
      <h5>Date + Workout name(main) <%#= workout.day %> </h5>
      <a class="fas fa-eye" data-toggle="collapse" href="#Collapse-<%= id %>" role="button" aria-expanded="false" aria-controls="Collapse-<%= id %>"></a>
    </div>
    <div class="collapse multi-collapse" id="Collapse-<%= id %>">
      <% workouts.each do |workout| %>
        <%= render "users/workout_display", locals: {workout: workout} %>
      <% end %>
    </div>
  </div>
</div>
