<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xl-6 chat">
      <% if current_user.workouts.present? %>
        <h1>Your Dashboard</h1>

        <h2>Upcoming Workouts</h2>
        

        <h2>Past Workouts</h2>

        <% current_user.workouts.each do |workout| %>
         <%= render "users/workout_display", locals: {workout: workout} %>
        <% end %>
      <% else %>
        user has not done any workouts yet.
      <% end %>
    </div>
  </div>
</div>
