<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xl-6 chat">
      <% if current_user.workouts.present? %>
        <h2>Your Dashboard</h2>
          <% if @today_workouts.empty? %>
           You have no workouts today
          <% else %>
            <% @today_workouts.each do |workout| %>
             <%= render "users/workout_display", locals: {workout: workout} %>
            <% end %>
          <% end %>
          
        <h2>Upcoming Workouts</h2>
        
        <% @upcoming_workouts.each do |workout| %>
          <%= render "users/workout_display", locals: {workout: workout} %>
        <% end %>
        

        <h2>Workout History</h2>

        <% current_user.workouts.each do |workout| %>
         <%= render "users/workout_display", locals: {workout: workout} %>
        <% end %>
      <% else %>
        user has not done any workouts yet.
      <% end %>
    </div>
  </div>
</div>
