<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 flex-column">
      <a href="#"><button class="m-3 button_one">Button 1</button></a>
      <a href="#"><button class="m-3 button_two">Button 2</button></a>
      <a href="#"><button class="m-3 button_three">Button 3</button></a>
      <a href="#"><button class="m-3 button_four">Button 4</button></a>
      <a href="#"><button class="m-3 button_five">Button 5</button></a>
    </div>
  </div>
</div>
