<div class="card-footer chat-input">
  <%= simple_form_for @message do |f| %>
    <%= f.input :content, placeholder: "Type your message here...", as: :string %>
    <%= f.submit 'Send', class: 'input-group-text send_btn' %>
  <% end %>
  <div class="input-group">
    <div class="input-group-append">
    </div>
    <textarea name="" class="form-control type_msg" placeholder="Message your coach..."></textarea>
    <div class="input-group-append">
      <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
    </div>
  </div>
</div>
<br>
<br>
