<div class="chatFooter">

  <%= simple_form_for @message, html: { class: "" } do |f| %>
  
    <div v class="form-group boxed">
      <div class="input-wrapper">
        <%= f.input :content, placeholder: "Send Message..", as: :string, label: false, input_html: {class: "form-control"} %>
     </div>
    </div>

      <button type="submit" class="btn btn-icon btn-primary rounded glow">
       <i class="fas fa-paper-plane"></i>
      </button>
 
  <% end %>
</div>

<div class="appBottomMenu">
  <%= link_to messages_path, class: 'item' do %>
    <div class="col">
      <i class="fas fa-comment-dots"></i> 
    </div>
  <% end %>

  <%= link_to workout_path(1), class: 'item' do %>
    <div class="col">
      <i class="fas fa-dumbbell"></i>
    </div>
  <% end %>
</div>