
<%# ACCEPTS FOLLOWING ARGUMENTS FROM "LOCALS" %>
<%# message (string) - content of the message from the AI %>
<div class="message-card mb-4">         
  <div class="message-card-body">
  <h3>Push Workout</h3>
    <ol>
      <li>Benchpress
        <ul>
          <li>Set 1: 15kg x 15</li>
          <li>Set 2: 15kg x 15</li>
          <li>Set 3: 15kg x 15</li>
          <li>Set 4: 15kg x 15</li>
        </ul>
      </li>
      <li>Dips
          <ul>
          <li>Set 1: 15kg x 15</li>
          <li>Set 2: 15kg x 15</li>
          <li>Set 3: 15kg x 15</li>
          <li>Set 4: 15kg x 15</li>
        </ul>
      </li>
      <li>Tricep Kickbacks
          <ul>
          <li>Set 1: 15kg x 15</li>
          <li>Set 2: 15kg x 15</li>
          <li>Set 3: 15kg x 15</li>
          <li>Set 4: 15kg x 15</li>
        </ul>
      </li>
    </ol>

  </div>
  <span class="msg_time">8:40 AM, Today</span>
</div>