  <div class="d-flex justify-content-start mb-4">

    <div class="img_cont_msg">
      <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
    </div>

    <div class="msg_cotainer">
      <%= locals[:message] %>
      <span class="msg_time">8:40 AM, Today</span>
    </div>

  </div>