<%# "LOCALS" will accept following arguments: %>
<%# category (string) - category of message, correct partial chosen from below %>
<%# content (string) - text content for messages (receive/send) %>
<%# workout (instance) - for workout suggestion card to populate %>
<%# Choose correct message partial based on category %>
<div data-controller='messages' data-messages-target="message">
  <% if locals[:category] == 'receive' %>
    <%= render 'chats/message_receive', locals: locals %>
  <% elsif locals[:category] == 'submit' %>
    <%= render 'chats/message_submit', locals: locals %>
  <% elsif locals[:category] == 'card_workout' && locals[:workout] %>
    <%= render 'chats/message_card_workout', locals: locals %>

  <% elsif locals[:category] == 'card_workout_set' %>
    <%= render 'chats/message_card_workout_set', locals: locals %>
  <% elsif locals[:category] == 'card_chart' %>
    <%# TODO: category 'card-chart' will render a card with chart data on request %>
  <% end %>
</div>
