
<%# ACCEPTS FOLLOWING ARGUMENTS FROM "LOCALS" %>
<%# message (string) - content of the message from the AI %>
<div class="message-card mb-4">         
  <div class="message-card-body">
  <h3>Push Workout</h3>
    <ol>
      <li>Dumbbell Benchpress<br>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
      </li>
      <li>Dips<br>
         <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
      </li>
      <li>Tricep Kickbacks<br>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
        <span class="badge badge-pill badge-secondary">15kg x 15</span>
      </li>
    </ol>

    Why AI Recommended:<br>
    <span class="badge badge-pill badge-primary">Focus Muscle Size Increase</span>
    <span class="badge badge-pill badge-primary">Safe on elbows</span>
    <span class="badge badge-pill badge-primary">Avoids barbell rack</span>
    <hr>
    <%= link_to "Choose Workout", workouts_path(template_workout: @template_workout) , method: :post, class: 'btn btn-primary btn-block' %>

  <span class="msg_time">8:40 AM, Today</span>
  </div>
</div>