  <div class="d-flex justify-content-start mb-4">

    <div class="img_cont_msg">
      <img src= <%= asset_path "ai_al.png"%> class="rounded-circle user_img_msg">
    </div>

    <div class="msg_cotainer" data-messages-target="speech-target">
      <%= locals[:content] %>
      <span class="msg_time"><%= time_ago_in_words(locals[:created_at]) %> ago</span>
    </div>

  </div>
