<%# ACCEPTS FOLLOWING ARGUMENTS FROM "LOCALS" %>
<%# message (string) - content of the message from the AI %>
<div class="message-card mb-4">
  <div class="message-card-body">
    <% workout = locals[:workout] %>
    <h5><%= workout.name %> (45min)</h5>
    <%# get unique exercises from the workout for looping %>
    <% unique_exercises = retrieve_unique_exercises(workout) %>
       Exercises: <br>
      <% unique_exercises.each do |exercise| %>
        <span class="badge badge-pill badge-primary"><%= exercise.name %></span>
      <% end %>
      <br>

    Recommended Because:<br>
    <span class="badge badge-pill badge-success">Focus Muscle Size Increase</span>
    <span class="badge badge-pill badge-success">Safe on elbows</span>
    <span class="badge badge-pill badge-success">Avoids barbell rack</span>
    <br>
    Est. Duration: 45 min
    <%= button_to "Start Workout", workouts_path(template_workout: workout), method: :post, class: 'btn btn-primary' %>
    <span class="msg_time"><%= time_ago_in_words(locals[:created_at]) %> ago</span>
  </div>
</div>
