     <div class="home-page">
      <div class="x">
          <%= image_tag 'logo4.svg', class: 'logo-img' %>
          <h1 class="display-4">Welcome</h1>
          <h4>Train With Your AI Coach</h4>
      </div>

      <div class="cool-card">
          <h4>Your Goal</h4>
      <h5><%= current_user.goal if current_user.present? %></h5>
      <%= link_to 'Start Workout', messages_path(new_session: true), class: "btn btn-outline-primary btn start-button"  %>
      </div>
      </div> 