<div class="contatiner">
  <div class="row justify-content-center">
    <div class="col-md-6" style= "display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;">
      <h1>Welcome</h1>
      <p>Ready to workout?</p>
      <%= link_to 'Start New Session', messages_path(new_session: true), class: "btn btn-primary"  %>
    </div>
  </div>
</div>
