<h1>Pages#home</h1>
<p>Find me in this page app/views/pages/home.html.erb</p>
<h1 class="d-flex justify-content-center">Buttons Examples Bellow</h1>
<div class="container" style="background-color: black;">
  <div class="row justify-content-center">
    <div class="col-9">
      <%= render 'shared/buttons' %>
    </div>
  </div>
</div>
