<h1>Pages#uikit</h1>
<h1 class="d-flex justify-content-center">Button Examples Bellow</h1>
<div class="container" style="background-color: black;">
  <div class="row justify-content-center">
    <div class="col-9">
      <%= render 'shared/buttons' %>
    </div>
  </div>
</div>
<br>
<h1 class="d-flex justify-content-center">Card Examples Bellow</h1>
<div class="container" style="background-color: black;">
  <div class="row justify-content-center">
    <div class="col-9">
      <%= render 'shared/cards' %>
    </div>
  </div>
</div>
