// ______________________First Button_____________________________//

.button_one {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  transform: translate(0);
  background-color: #03aae7;
  padding: 0.7em 2em;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px rgba(18, 18, 18, 0.438);
  color: white;
}
// ______________________Second Button_____________________________//

  .button_two {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #ff00a6;
  border-radius: 1rem;
  border: 1px solid #fff;
  text-decoration: none;
}

// ______________________Third Button_____________________________//

.button_three {
  font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  background-color: #ff6200;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  position: relative;
  border: 3px solid #ffffff;
  border-radius: 1rem;
}

// ______________________Forth Button_____________________________//

