 .calendar-container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: scale(0.4);
  margin: -70% auto;
}

.calendar {
  width: 45rem;
  height: 49rem;
  background-color: #222227;
  box-shadow: 0.2rem .2rem rgba(0, 0, 0, 0.2);
}

.month {
  width: 100%;
  height: 10rem;
  background-color: #34a0fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem/7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .2rem;
}

.days div {
  font-size: 2rem;
  margin: .3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.5);
  transition: background-color .2s;
}

// When clicked This code turn calendar today div black. could be usefull later

// .days div:hover:not(.today) {
  //     background-color: #262626;
  //     border: 0.2rem solid #777;
  //     cursor: pointer;
  //     border-radius: 45%;
  // }


  .prev-date, .next-date {
    opacity: 0.3;
  }

  .today {
    background-color: #47a9f9a2;
    border-radius: 45%;
  }

  .worked-out-day {
    background-color: #64849fa2;
    border-radius: 45%;
  }
