// _________________________________Workout Card____________________________________

.workout-card {
  background-color: rgba(109, 248, 255, 0.1);
  color: #f5da53;
  border-radius: 10px !important;
  margin: 3px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

#dumbbell {
  width: fit-content;
}

#rep-number {
  width: fit-content;
}

#difficulty {
  width: fit-content;
}

// _________________________________Overwrites :/____________________________________

.container-fluid {
  padding: 10px !important;
}

.card-body {
  padding: 10px !important;
}
