// _________________________________Workout Card____________________________________

.workout-card {
  background-color: rgba(109, 248, 255, 0.1);
  color: #f5da53;
  border-radius: 10px !important;
  margin: 3px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

#dumbbell {
  width: fit-content;
}

#rep-number {
  width: 30px;
}

#difficulty {
  width: fit-content;
}

.items-row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  &.green {
    background-color: rgba(47, 255, 0, 0.1);
  }
}

.row {
  &.green {
    background-color: rgba(47, 255, 0, 0.1);
    margin: 0px !important;
  }
}


// _________________________________Overwrites :/____________________________________

.container-fluid {
  padding: 10px !important;
}

.card-body {
  padding: 10px !important;
}
