// _________________________________card_one____________________________________

.workout-card {
  background-color: rgba(109, 248, 255, 0.1);
  color: #F5B353;
  border-radius: 10px !important;
  margin: 3px !important;
}

.sets-dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  p {
    margin-top: 7.5px;
    margin-bottom: 1rem;
    justify-content: center;
  }
}


// _________________________________card_two____________________________________
