$message-border-radius: 8px 8px 8px 1px;
$message-border-radius-right: 8px 1px 8px 8px;


.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.message-container{
  // height: 94vh;
  border-radius: 15px !important;
  background-color: inherit !important;
  margin-top: 25px;
  margin-bottom: 143px;

}
.contacts_body{
  padding:  0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body{
  overflow-y: auto;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
  position: sticky;
  bottom: 0;
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container{
  align-content: center;
}
.search{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
}
.search:focus{
  box-shadow:none !important;
  outline:0px !important;
}
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
  box-shadow:none !important;
  outline:0px !important;
}
.attach_btn{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active{
  background-color: rgba(0,0,0,0.3);
}
.user_img{
  height: 70px;
  width: 70px;
}
.user_img_msg{
  height: 40px;
  width: 40px;

}
.img_cont{
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
}
.online_icon{
  position: absolute;
  height: 15px;
  width:15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border:1.5px solid white;
}
.offline{
  background-color: #c23616 !important;
}
.user_info{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span{
  font-size: 20px;
  color: white;
}
.user_info p{
  font-size: 10px;
  color: rgba(255,255,255,0.6);
}
.video_cam{
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: $message-border-radius;
  background-color: #319efc;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: $message-border-radius-right;
  background-color: #5d48cf;
  padding: 10px;
  position: relative;
}

.msg_time{
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  min-width: 200px;
}
.msg_time_send{
  position: absolute;
  right:0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
  min-width: 200px;
  text-align: right;
}
.msg_head{
  position: relative;
}
#action_menu_btn{
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu{
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li{
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i{
  padding-right: 10px;

}
.action_menu ul li:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
  .contacts_card{
    margin-bottom: 15px !important;
  }
}

// message cards are where AI will display blocks of content to user.
// check notion for details on what cards will display.
.message-card {
  width: 100%;
  min-height: 200px;
  margin-left: 0;
  background-color: #1f1f1f;
  border-radius: $message-border-radius;
  position: relative;
  justify-content: space-between;
  padding: 25px;

  .message-card-body {
    background-color: transparent;
  }

  .msg_time {

  }
}

.chat-input {
  background-color: rgb(0, 0, 0);
}

.form-group.string.optional.message_content {
  margin-bottom: 0;
}

.form-check-input {
  position: relative;
}

.message-box {
  position: sticky;
  bottom: 18px;
  width: 100%;
  justify-content: center;
}






// Footer
.chatFooter {
  font-family: "Inter",sans-serif;
  font-size: 15px;
  line-height: 1.55rem;
  letter-spacing: -.015rem;
  color: #8195a6;
  min-height: 56px;
  border-top: 1px solid #E1E1E1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
  background: #23233e;
  border-top-color: #1B283B;

  form {
    font-weight: var(--bs-body-font-weight);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: "Inter",sans-serif;
    font-size: 15px;
    line-height: 1.55rem;
    letter-spacing: -.015rem;
    -webkit-font-smoothing: antialiased;
    color: #8195a6;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
  
      box-sizing: border-box;
      margin: 0;
      font-family: inherit;
      text-transform: none;
      outline: 0 !important;
      -webkit-appearance: button;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      font-size: 13px;
      line-height: 1.2em;
      font-weight: 500;
      box-shadow: none !important;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: none;
      text-decoration: none !important;
      border-width: 2px;
      width: 40px;
      height: 40px;
      padding: 0;
      background: $blue !important;
      border-color: $blue !important;
      color: #ffffff !important;
      cursor: pointer;
      border-radius: 100px !important;
    }

    .boxed {
      font-weight: var(--bs-body-font-weight);
      text-align: var(--bs-body-text-align);
      font-family: "Inter",sans-serif;
      font-size: 15px;
      line-height: 1.55rem;
      letter-spacing: -.015rem;
      -webkit-font-smoothing: antialiased;
      color: #8195a6;
      box-sizing: border-box;
      margin: 0;
      padding: 8px 0;
      width: calc(100% - 54px);

   
    }

  
  }
}
