$nav-bg-color: #2a2e34;

.navbar-custom {
  justify-content: space-between;
  background-color: $nav-bg-color;
  color: #f6f6f9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);



  a {
    color: #f6f6f9;
  }
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.fixed-bottom {
  position: sticky !important;
  align-items: center;
}

.navbar-custom a {
  &:hover {
    text-decoration: none;
  }
}

// BOTTOM MENU
.appBottomMenu {
  font-weight: var(--bs-body-font-weight);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter",sans-serif;
  font-size: 15px;
  line-height: 1.55rem;
  letter-spacing: -.015rem;
  -webkit-font-smoothing: antialiased;
  color: #8195a6;
  box-sizing: border-box;
  min-height: 47px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #E1E1E1;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: env(safe-area-inset-bottom);
  background: $nav-bg-color;
  border-top-color: #1B283B;

    
    .item {
      font-weight: var(--bs-body-font-weight);
      font-family: "Inter",sans-serif;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      transition: none;
      color: white;
      outline: 0 !important;
      text-decoration: none;
      font-size: 9px;
      letter-spacing: 0;
      text-align: center;
      width: 100%;
      height: 47px;
      line-height: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .active {
        background: transparent !important;
        color: #fff;
      }

      i {
        display: block;
        font-size: 20px;
      }
    }
}