.navbar-custom {
  justify-content: space-between;
  background-color: #000000;
}

.navbar-custom .navbar-collapse {
  flex-grow: 0;
}

.navbar-custom .navbar-brand img {
  width: 40px;
}

.fixed-bottom {
  position: sticky !important;
  background-color: black;
  margin: 3px !important;
  align-items: center;
}
