.no-bs-validation {
  .is-valid, .is-invalid {
    border-color: $gray-400;
    background-image: inherit;
    font-size: 12px;
    border-radius: 15%;
    padding: 5px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #293448;
    border: none;
    color: rgb(255, 255, 255);
    &:focus {
      border-color: inherit;
      box-shadow: 0 0 0 .2rem $gray-400;
    }
  }
}

.form-check-input {
  position: relative !important;
  transform: scale(1.5) !important;
  background-color: rosybrown !important;
}
