.pulse-button {
  position: absolute;
  right: -2em;
  top: 50%;
  transform: translateY(-50%);
}

.pulse-button span{
  display: block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #A1F568;
  -webkit-animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 rgba(#02a141, .5);
}

@-webkit-keyframes pulse {
  0% {
    transform:(scale(.9));
  }
  70% {
    transform:(scale(1));
    box-shadow: 0 0 0 30px rgba(#02a141, 0);
  }
  100% {
    transform:(scale(.9));
    box-shadow: 0 0 0 0 rgba(#02a141, 0);
  }
}

.pulse-button-finished {
  position: absolute;
  right: -2em;
  top: 50%;
  transform: translateY(-50%);
}

.pulse-button-finished span{
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #ff0000;
  box-shadow: 0 0 0 0 rgba(#ff0000, .5);
}
