.workout-table {
  font-size: 14px;
}

select.form-control {
  padding-right: 0px !important;
  width: 81px;
}

.was-validated select.form-control:valid, select.form-control.is-valid {
  padding: 0px !important;
  border-radius: 15%;
}

.p-custom {
  text-decoration: underline;
  margin-bottom: 5px;
}

.workout-select-input {
  height: 29px !important;
  padding: 0;
}

.workout-set {
  padding: 2px;
  margin: 1px;
}

.set-completed {
  background: #057BDCC1;
  border-radius: 4px;
}
