.workout-table {
  font-size: 14px;
}

select.form-control {
  padding-right: 0px !important;
  width: 81px;
}

.was-validated select.form-control:valid, select.form-control.is-valid {
  padding: 0px !important;
  border-radius: 15%;
}
